@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #7f8c8d;
}


h1{
  font-size: 5em;
  margin: 1em 0px .25em;
}

.intro{
  padding: 40px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro > div{

}
.work{
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.workContainer{
  max-width: 1260px;
}

.workItem:nth-child(even) .workText{
  order: 1;
}
.workItem:nth-child(even) .workImage{
  order: 2
}

.red{
  color:#FF6B6B;
}
.green{
  color:#4ECDC4;
}

.workItem{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
}
.workItem h2{
  margin-top: 0;
  /*color:#1A535C;*/
}
.workItem h5{
  margin: 0;
  color:#4ECDC4;
}
.workItem a{
  color:#4ECDC4;
}
.workItem a:hover{
  color:#FF6B6B;
}
.workItem > div{
  padding: 20px;
}

.workItem .workText{
  flex-basis: 50%;
  order: 2
}
.workItem .workImage{
  flex-basis: 50%;
  order: 1;
  box-shadow: -1px 0px 10px 2px rgba(40, 58, 52, 0.28);
  border-radius: 3px;
  padding: 0;
  margin: 20px;
  overflow: hidden;
}

.workImage img{
  width: 100%;
  display: block;
}
.workImage video{
  width: 100%;
  display: block;
}

p {
    font-size: 1em;
    line-height: 1.75em;
}

@media (max-width:700px) {
  .workItem{
    flex-wrap: wrap;
  }
  .workItem .workText{
    flex-basis: 100%;
    order: 2 !important;
  }
  .workItem .workImage{
    flex-basis: 100%;
    order: 1 !important;
  }
}


h1{
  font-size: 5em;
  margin: 1em 0px .25em;
}

.contact{
  padding: 40px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact h1{
text-align: right;
}
.contact a{
  color:#FF6B6B;
}
.contact a:hover{
  color:#4ECDC4;
}
